body {
    height: 100%;
    margin: 0;

}

.portada {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
}

#titulo-principal {
    font-size: 5vw;
    text-align: center;
    margin: 10px;
    color: rgb(236, 236, 236);
    text-decoration: underline;
    text-decoration-color: yellow;
}

#imagen-portada {
    width: 20%;
    height: 20%;
}


.navbar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* Cuatro columnas de tamaño automático */
    background-color: #333;
    /* Color de fondo */
}

.navbar a {
    color: white;
    /* Color del texto */
    text-align: center;
    /* Centrar el texto */
    padding: 14px 20px;
    /* Espaciado interno */
    text-decoration: none;
    /* Eliminar subrayado */
    border-right: 1px solid #bbb;
    /* Separar con líneas verticales */
}

.navbar a:last-child {
    border-right: none;
    /* Eliminar la línea del último elemento */
}

.navbar a:hover {
    background-color: #ddd;
    /* Fondo al pasar el mouse */
    color: black;
    /* Color del texto al pasar el mouse */
}


.container-menu-principal {
    text-align: center;
    font-size: 1em;
    background-color: #1a1a1a;
    margin: 0;
    padding: 1px;
    width: 11%;
    height: 100vh;

}

.container-menu-principal h3 {
    color: rgb(236, 236, 236);
}

#menu-principal {
    text-align: center;
}

.container-menu-principal li {
    list-style-type: none;
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px;
    margin-right: 50px;
    border-radius: 20px;
}


.container-menu-principal li:hover {
    background-color: rgb(147, 139, 129);

}


.container-menu-principal li a {
    color: #1a1a1a;


}






/*----------------------------------------*/


#container-titulo {
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: auto;

}