body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    max-width: 360px;
    background-color: rgb(112, 112, 112);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px rgb(79, 79, 79);
}

#display {
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 10px;
    color: rgb(194, 194, 194);
    background-color: rgb(79, 106, 81);
    box-sizing: border-box;
}

.operator {
    color: rgb(122, 0, 0);
}

#ac {
    color: blue;
}

.equal {
    width: calc(50% - 10px);
}

button {
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(147, 147, 146);
    -webkit-box-shadow: -1px 1px 30px -5px rgb(50, 50, 50);
    -moz-box-shadow: -1px 1px 30px -5px rgb(101, 101, 101);
    box-shadow: -1px 1px 30px -5px rgb(62, 62, 62);
}

button:hover {
    color: rgb(17, 210, 0);
}

button:active {
    transform: scale(1.05);
}